<form action="/blog/search/" method="get">
<div class="search-box d-flex justify-content-center align-items-center mb-4">
    <div class="input-group" style="max-width: 800px;">
            <input type="text" id="searchinput" class="form-control" name="query" placeholder="Search for blog posts..." onkeyup="searchbtn()">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="searchbutton" type="submit" disabled>
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>
